<!-- This example requires Tailwind CSS v!2.0+ -->
<nav class="bg-white shadow sticky top-0" style="z-index: 100000000">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex md:gap-8 justify-evenly md:justify-end py-4 md:py-6">
            <a
                data-role="nav-link"
                data-active="false"
                href="/"
                class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm md:text-base font-medium">
                Home
            </a>
            <a
                data-role="nav-link"
                data-active="false"
                href="/auth/login"
                class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm md:text-base font-medium">
                Login
            </a>
            <a
                data-role="nav-link"
                data-active="false"
                href="/admin/login"
                class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm md:text-base font-medium">
                Admin
            </a>
        </div>
    </div>
</nav>
